ul, ul li { 
  margin: 0; 
  padding: 0;
  list-style: none;
}

.menu ul li{
  padding: 5px 5px 5px 5px;
}

.noticias p span {
  color: grey;
  padding-top: 10px;
}

.noticias p {
  padding-top: 5px;
}

.menu_principal li a {
  font: 120% sans-serif;
  color: white;
}

.publicidad h3 a, .publicidad p a {
  color: orange;
}

.secundario h2 {
  font: 100% sans-serif;
  color: white;
}

.secundario p {
  padding: 5px 0 5px 0;
}

.articulo p a {
  color: orange;
}

.articulo h2 {
  font: bold 160% sans-serif;
  color: orange;
}

h1, h2, h3, p, form { 
  margin: 0; 
  padding: 0; 
}

.logo h1 span {
  font: 140% sans-serif;
}

.clear { 
  clear: both; 
}

img { 
  border: none;
  margin: 15px;
}

.contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

.contenido .secundario {
  border: 2px solid #777;
  padding: 5px;
}

.secundario h2 {
  padding: 5px;
  background-color: #DE9E63;
}

.principal, .articulo {
  padding: 10px;
}

.publicidad {
  border: 2px dotted #FFD283;
  background-color: #FFF7CE; 
  padding: 10px;
}

.contenido .secundario {
  border-color: #FFD283;
}

.lateral .noticias {
  border: 2px solid #9CC8C4;
  background-color: #F7F7F7;
  padding: 10px;
}

.menu {
  border: 3px solid #9CC8C4;
  background-color: #00549B;
}

.noticias h3 a {
  font: bold 80% sans-serif;
}

.logo h1 {
  color: orange;
}

.pie {
  border-bottom: 2px solid #9CC8C4;
  border-top: 2px solid #9CC8C4;
}

.buscador {
    padding-top: 8px;
}

.logo, .buscador {
  margin-right: 30px;
  margin-left: 30px;
}

.cabecera { 
  clear: both;
}

.menu { 
  clear: both; 
}

.lateral { 
  float: left; 
  width: 20%; 
}

.contenido { 
  float: right; 
  width: 78%;
}

.lateral, .publicidad, .contenido, .pie {
  margin-top: 10px;
}

.cabecera, .menu, .lateral, .principal, .secundario, .pie {
  padding: 5px 0 5px 0;
}

.contenido .principal { 
  float: left; 
  width: 78%; 
}

.contenido .secundario { 
  float: right; 
  width: 20%; 
}

.pie { 
  clear: both; 
}

.cabecera .logo { 
  float: left; 
}

.cabecera .buscador { 
  float: right; 
}

.menu ul.menu_principal li { 
  display: inline; 
  float: left; 
}

.contenido .principal .articulo img { 
  width: 100px;
  height: 90px;
  float: left; 
}

.pie .enlaces   { 
  float: left; 
}

.pie .copyright { 
  float: right; 
}